<div class="header">
    <ul class="left-tools">
        <li class="active attending">
            <a href="#/classes/attending">
                {{ t 'courses.status.attending' }}
            </a>
        </li>
        <li class="willAttend">
            <a href="#/classes/willAttend">
                {{ t 'courses.status.will_attend' }}
            </a>
        </li>
        <li class="attended">
            <a href="#/classes/attended">
                {{ t 'courses.status.attended' }}
            </a>
        </li>
        <li class="favorite">
            <a href="#/classes/favorite">
                <div class="icons-favorite sprite"></div>{{ t 'courses.status.favorite' }}
            </a>
        </li>
        <li class="search">
            <a href="#">
                <div class="icons-search sprite"></div>{{ t 'general.search' }}
            </a>
        </li>
    </ul>
    <ul class="right-tools">
        <li class=""><div class="icons-refresh sprite"></div>{{ t 'general.refresh'}}</li>
    </ul>
</div>
<div class="body home">
    <table>
        <thead>
            <tr>
                <th class="subject">{{ t 'courses.info.name' }}</th>
                <th class="year">{{ t 'courses.info.year' }}</th>
                <th class="season">{{ t 'courses.info.season' }}</th>
                <th class="date">{{ t 'courses.info.period' }}</th>
                <th class="department">{{ t 'courses.info.school' }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
